# R session files
.Rhistory
.RData

# Logs
logs/

# Raw and processed data
data/raw/
data/processed/

# GDC artifacts
*.tar.gz
*.zip
gdc_manifest.txt
gdc_client_configuration.dtt
gdc-client*

# renv binaries
renv/library/
renv/staging/

# OS junk
.DS_Store
